# Core Application
flask
flask_sock

# Machine Learning
torch
torchaudio
transformers @ git+https://github.com/huggingface/transformers.git
sentencepiece
mistral-common
accelerate

# TTS
phonemizer

# Utilities
python-dotenv
requests
numpy
soundfile